{% extends "main/base.html" %}

{% load static %}

{% block content %}

          
    
    {% for product in goods %}

      

            <div class="ror">
                 <a class="dropdown-item" href="{% url "catalog:product" product.slug %}">
                    <p class="card-title text-white">{{ product.name }}</p>
                </a>
            </div>   

      
    {% endfor %}
    


{% endblock content %}


{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="foot">
          
              
            <div class="text-light">
            
                <p> Copyright JK & Co Web Studio 2024 </p>
            
            </div>
            <div>
              <p><a class="text-light" href="">Политика конфиденциальности</a></p>
            </div>
          </div>
    </footer>
{% endblock footer %}


